<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.ergashev_zarifjon.macho_man_pro">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.ergashev_zarifjon.macho_man_pro.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6aab3f52e73ace880ba0621bc8cc462afc97521c" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ergashev_zarifjon.macho_man_pro.ui.activity.EditImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ergashev_zarifjon.macho_man_pro.ui.activity.CropImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.ergashev_zarifjon.macho_man_pro.brush_view.BrushActivity" />
        <activity android:name="com.ergashev_zarifjon.macho_man_pro.ui.activity.BaseActivity" />
        <activity
            android:name="com.ergashev_zarifjon.macho_man_pro.ui.activity.ImageFullScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.ergashev_zarifjon.macho_man_pro.commons.GenericFileProvider"
            android:authorities="com.ergashev_zarifjon.macho_man_pro"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>